
<web-app>
<!--
	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>EmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>register.html</welcome-file>
	</welcome-file-list>
-->

	<welcome-file-list>
		<welcome-file>employeeregister.jsp</welcome-file>
	</welcome-file-list>
</web-app>  